<form action="/form_submit" method="get">
Select a key:
  <select name="key">
    <option value="60">C</option>
    <option value="61">C#</option>
    <option value="62">D</option>
    <option value="63">D#</option>
    <option value="64">E</option>
    <option value="65">F</option>
    <option value="66">F#</option>
    <option value="67">G</option>
    <option value="68">G#</option>
    <option value="69">A</option>
    <option value="70">A#</option>
    <option value="71">B</option>
  </select>

Select a length:
  <select name="length">
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>

<input type="submit" value="Generate">
</form>

<form
<form action="/evaluator_submit" method="get">Evaluate Example
  <input type="text" name="input">
  <input type="submit">
</form>
