

<canvas width=700 height=100></canvas>

<div class="vex-tabdiv"
width=680 scale=1.0 editor="false"
editor_width=680 editor_height=330>options space=20
tabstave
notation=true
tablature=false
key=A time=4/4

notes :w 4-5-6/3 10/4


options space=25
</div>
