<!DOCTYPE html>
<html>
  <head>
    <title>Cantus Firmus Generator</title>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/vextab-master/releases/vextab-div.js"></script>
    <link rel="stylesheet" type="text/css" src="js/vextab.css">
  </head>
  <body>
    <h1>Music Test</h1>
    <%= yield %>
  </body>
</html>
