<!DOCTYPE html>
<html>
  <head>
    <title>Cantus Firmus Generator</title>
    <script src="js/jquery-1.11.2.js"></script>
    <script src="js/vexflow-min.js"></script>
    <script src="js/vextab-div.js"></script>
  </head>
  <body>
    <h1>Music Test</h1>
    <%= yield %>
  </body>
</html>
