<h1> Examples </h1>

<div class="container">
  <ol>
    <% @list.each do |example| %>
      <li>
        <%= link_to "Notes: #{example.notes} id: #{example.id}", example_path(example.id), :method =>"Get" %>
      </li>
    <% end %>
  </ol>
</div>

<%= link_to "Generate New Example", new_example_path, :method =>"Get" %>
